body{
  background-color: #0F054C;
}

@font-face{
  font-family: 'Monument Extended';
  src: url('../font/monumentextended-regular.otf');
}
@font-face{
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Regular.ttf');
}
@font-face{
  font-family: 'Montserrat SemiBold';
  src: url('../font/Montserrat-SemiBold.ttf');
}

#particles-js {
  width: 100%;
  height: 100%;
  /*background-image: url('');*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;

}

.carousel-inner img {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* .branded{
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #039be5, #02D657);
  -webkit-background-clip: text;
  -webkit-animation: hue 10s infinite linear;
  }

  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(-360deg);
    }
} */

/* BACK TO THE TOP BUTTON */
#button {
  display: inline-block;
  background-color:  #02D657;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #FFF;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Navbar */
.navbar-brand{
  font-size: 26px;
  margin-top: 3px;
  font-family: 'Montserrat SemiBold',
  sans-serif;
}

.nav-item{
  font-family: 'Montserrat SemiBold',
  sans-serif;
  font-size: 18px;
  font-weight: bold;
  
}

/* .navbar-fixed-top.scrolled {
  background-color: #039be5 !important;
  transition: background-color 200ms linear;
} */

/* .jumbotron .sidecolor{
      position: absolute;
      z-index: 1;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
} */


/* Back to the top button style */
.btn-hover {
  width: 170px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  margin-left: -5px;
}
.btn-hover.color-insta {
  background-image: linear-gradient(to right, #8448A7, #D34A5F, #D34A5F, #F7A454, #F7A454);
  box-shadow: 0 4px 15px 0 #8448A7;
  margin-left: -5px;
}


.jumbotron {
 /* background-color: #2f1ce9;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231c16ed' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23111af2' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230b24f6' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23062ffb' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23003cff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230651f4' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%230d64ea' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231373df' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%231880d5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%231e8bcb' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
 background-attachment: fixed;
 background-size: cover; */
 /* Gradient */
background: #2F1CE9;
background: -webkit-linear-gradient(to right, #0F054C, #3D3FA4);
background: linear-gradient(to right, #0F054C, #3D3FA4);
    /* background-image: url(../img/output1.png);
    background-size: 500%;
    background-size: cover;
    background-color: white; */
/*background-image: url('../img/home-bg-2.jpg');
background-repeat: no-repeat;*/

  text-align: left;
  height: 640px; 
  z-index:1;
}


.jumbotron .display-4{
  font-family: 'Montserrat SemiBold',
  sans-serif;
  color: white;
  margin-top: 90px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 26px;
}


.jumbotron .p{
  font-family: 'Montserrat',
  sans-serif;
  color: white;
  margin-top: 10px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 18px;
}


.jumbotron .display-4 span{
  font-weight: 500;
}


hr{
  width: 42px;
  padding: 0;
  margin: 0;
  position: relative;
  top: -10px;
  border: 2px solid #039be5;
}

/* Right Side */
/* .rightside{
  background-image: url(../img/team-bg-left.png),
  url(../img/team-bg-right.png);
  background-position: left bottom ,
  right top;
  background-repeat: no-repeat,
  no-repeat;
  margin-bottom: -100px;
} */








/* DESKTOP VERSION */
@media (min-width: 768px) { 
                    /* 992 */
  /* .navbar-brand{
    width: 200px;
    height: 100px;
    position: absolute;
    margin-top: 5px;
  } */

  .robot {
    width: 80%;
    margin-left: 300px;
    margin-top: -390px;
  }

  .navbar-brand{
    color: #0080FF !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
      text-transform: uppercase;
      margin-right: 30px;
      color: #02D657 !important;
      font-weight: 200;
  }

  .navbar {
    /* background-color: #2f1ce9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231c16ed' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23111af2' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%230b24f6' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23062ffb' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23003cff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230651f4' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%230d64ea' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231373df' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%231880d5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%231e8bcb' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
      background: #2F1CE9;
     background: -webkit-linear-gradient(to right, #0F054C, #3D3FA4);
background: linear-gradient(to right, #0F054C, #3D3FA4);
position: fixed;
/* Make it stick/fixed */
top: 0;
/* Stay on top */
width: 100%;
/* Full width */
transition: top 0.3s;
/* Transition effect when sliding down (and up) */
    /*background-image: url(../img/output1.png);
    background-size: 500%;
    background-size: cover;
    background-color: white;*/
    z-index:1;
  }
  
  .nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #0080FF;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron{
    margin-top: 70px;
    height: 570px;
  }

  .jumbotron .display-4 {
    font-family: 'Montserrat SemiBold',
      sans-serif;
    color: #02D657;
    margin-top: 100px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 32px;
  }


  .jumbotron .p {
    font-family: 'Montserrat',
      sans-serif;
    color: white;
    margin-top: 10px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 26px;
  }

  .about {
    background-color: #0F054C;
    padding: 115px 0 100px;
    background-image: url(../img/team-bg-left.png),
      url(../img/team-bg-right.png);
    background-position: left bottom,
      right top;
    background-repeat: no-repeat,
      no-repeat;
    background-size: contain;
  }

  .about h1 {
    font-family: 'Monument Extended';
    color: #02D657;
    font-size: 30px;
  }

  .about img {
    margin-top: -130px;
  }

  .about .identitas {
    font-family: 'Montserrat Semibold', sans-serif;
    margin-top: 100px;
    color: white;
  }

  /* SKILLS */

  .skills {
    background-color: #0F054C;
  }

  .skills h1 {
    font-family: 'Monument Extended';
    color: #02D657;
    margin-top: 50px;
    font-size: 30px;
  }

  .skills h2 {
    color: white;
  }


  .skills .list-skills {
    margin-top: 70px;
  }

  .skills .persen-skills h3 {
    color: #02D657;
  }

  .skills .persen-web {
    margin-top: 120px;
  }

  .skills .persen-uix {
    margin-top: 75px;
  }

  .skills .persen-prog {
    margin-top: 75px;
  }

  /* PORTOFOLIO */
  .portofolio {
    background-color: #0F054C;
  }

  .portofolio h1 {
    font-family: 'Monument Extended';
    color: #02D657;
    margin-top: 70px;
    font-size: 30px;
  }

  .portofolio .card {
    text-decoration: none;
    margin-left: 5rem !important;
  }

  .portofolio .insta-portofolio {
    margin-left: auto;
    margin-right: auto;
  }

  /* FOOTER */
  .footer {
    background-color: #0F054C;
  }

  .footer h5 {
    font-family: 'Montserrat SemiBold';
    color: white;
    margin-top: 100px;
    font-size: 30px;
  }

  .footer .hakcipta {
    color: white;
    font-family: 'Montserrat SemiBold';
    margin-bottom: 50px;
  }


  
}









/* Small - medium version */

@media (min-width: 50px) and (max-width: 992px) { 
                                          /* 767.98 */
  body{
    
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
    color: #02D657 !important;
    font-weight: 200;
  }

  .robot{
    width: 100%;
  }

  .jumbotron{
    height: 520px;
    display: inline-block;
    text-align: center;
  }

  .jumbotron .display-4 {
    font-family: 'Montserrat SemiBold',
      sans-serif;
    color: #02D657;
    margin-top: 100px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 32px;
  }

  .navbar {
    background-color: white;
  }

  .navbar-brand {
    color: #0080FF !important;
  }

  .jumbotron .display-4,
  .p {
    text-align: center;
  }

  /* about */

  .about {
    background-color: #0F054C;
    padding: 115px 0 100px;
    /* background-image: url(../img/team-bg-left.png),
      url(../img/team-bg-right.png); */
    background-position: left bottom,
      right top;
    background-repeat: no-repeat,
      no-repeat;
    background-size: contain;
  }

  .about h1 {
    font-family: 'Monument Extended';
    color: #02D657;
    font-size: 30px;
    margin-top: -80px;
  }

  .about img {
    width: 100%;
    margin-top: -100px;
  }

  .about .identitas {
    font-family: 'Montserrat Semibold', sans-serif;
    margin-top: 30px;
    color: white;
    text-align: center;
  }

  /* SKILLS */

  .skills {
    background-color: #0F054C;
    text-align: center;
  }

  .skills h1 {
    font-family: 'Monument Extended';
    color: #02D657;
    margin-top: 50px;
    font-size: 30px;
  }

  .skills h2 {
    color: white;
  }


  .skills .list-skills {
    margin-top: 70px;
  }

  /* PORTOFOLIO */
  .portofolio {
    background-color: #0F054C;
    text-align: center;
  }

  .portofolio h1 {
    font-family: 'Monument Extended';
    color: #02D657;
    margin-top: 70px;
    font-size: 30px;
  }

  .portofolio .card {
    text-decoration: none;
    width: 20rem !important;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  .portofolio .insta-portofolio {
    margin-left: auto;
    margin-right: auto;
  }

  /* FOOTER */
  .footer {
    background-color: #0F054C;
  }

  .footer h5 {
    font-family: 'Montserrat SemiBold';
    color: white;
    margin-top: 100px;
    font-size: 30px;
  }

  .footer .hakcipta {
    color: white;
    font-family: 'Montserrat SemiBold';
    margin-bottom: 50px;
  }

  .footer .contact{
    margin-left: auto;
    margin-right: auto;
  }

  .btn-hover{
    margin-left: 20px !important;
  }



}